/*General Styles*/
* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Normal', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.personal-details,
.profile,
.education,
.employment,
.skills,
.languages,
.hobbies,
.certificates
{
    border: 2px solid gray;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

.title
{
    font-weight: 900;
    font-size: 150%;
    background-color: gray;
    color: white;
    padding: 7px 18px;
    border-radius: 10px;
}

.content {
    padding: 20px 18px;
}

a {
    text-decoration: none;
    color: black;
}

.degree, 
.role {
    font-weight: 700;
}

.company,
.school {
    color: gray;
}

/*Title and Image*/
.titles {
    margin-top: 100px;
    text-align: center;
}

.titles h1 {
    padding-bottom: 10px;
}

.titles h3 {
    padding-bottom: 45px;
    font-weight: 200;
}

img {
    width: 150px;
    padding: 20px 0 20px 0;
}

/*Personal Details*/


/*Profile*/
.content-text {
    line-height: 22px;
}

/*Education*/
.education ul {
    line-height: 22px;
}

/*Employment*/
.employment ul {
    line-height: 22px;
}

/*Skills*/


/*Languages*/


/*Hobbies*/
.hobbies ul{
    line-height: 22px;
}

/*Certificates*/


/*Navigations*/
.navigations {
    text-align: center;
    margin-bottom: 100px;
}

.navigations a {
    background-color: gray;
    padding: 12px 20px;
    color: white;
    border-radius: 10px;
    font-size: 120%;
    font-weight: 600;
}

.navigations a:hover {
    background-color: black;
}


@media (max-width: 1050px){

}

@media (max-width: 991px){

}

@media (max-width: 799px){

}

@media (max-width: 600px){

}